body{
  
      width: 100%;
      height: 100vh;
      background: yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      
  }
  
  .wrap{ 
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  
  
  div[class^="metro"]{
      /* float: right; */

      margin: 0 10px 10px 0;

      width: 200px;
  
      height: 100px;
  
      position: relative;
  
      cursor: pointer;
  
      transition: all .4s ease;
  
      /* user-drag: element; */
  
    border: solid 2px transparent;
    animation: flip 6s liniear infinite;
    animation-delay: 3s
  
  }
  
  div[class^="metro"]:hover{
  
      border: solid 2px mintcream;
  
  }
  
  div[class^="metro"]:active{
  
      transform: scale(.98,.98);
  
  }
  
  .metro-big{
      width: 200px;
      height: 200px;
              
  }

  
  .last{margin-right: 0 !important;}
  
  .profile{
  background: black; 
  
  }
  
  .space{
  
      margin-bottom: 110px;
  
  }
  
  .label{
  
      position: absolute;
  
      color: white;
  
      font: 500 12px sans-serif;
  
      left: 10px;
  
    user-select: none;
  
  }
  
  .bottom{bottom: 5px;}
  
  .top{top: 5px;}
  
  .chat{
    background: black;}
  
  .calendar{
    background: black;
  }
  .chat{
    background: blue;}
  
  .store{
    background: blue;}
  
  .google{
    background: blue;}
  
  .photo{
    background: blue;}
  
  .settings{
    background:black;}
  
  
  
  
  div[class^="icon"]{
  
      width: 45px;
  
      height: 45px;
  
      margin: 20px auto;
  
      background-size: 45px 45px;
  
  }
  
  ::-webkit-scrollbar{
  
    width: 10px;
  
      height: 10px;
  
      cursor: pointer;    
  
  }
  
  ::-webkit-scrollbar-track {
  
      -webkit-box-shadow: inset 0 0 6px 2px rgba(0,0,0,0.3);
  
      background: #007491;
  
  }
  
  ::-webkit-scrollbar-thumb {
  
      background: #002f3b; 
  
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  
      cursor: pointer;
  
  }
  
  ::selection{
  
      background: mintcream; 
  
  }
  
  
  
  @keyframes flip{
  
    0%{
  
      transform: rotateX(0deg);
  
    }
  
    15%{
  
      transform: rotateX(360deg);  
  
    }
  
    100%{
  
      transform: rotateX(360deg); 
  
    }
  
  }
  
  
  
  
  
  
  @keyframes fade{
  
    0%{
  
      opacity: 0; 
  
    }
  
    10%{
  
      opacity: 1;
  
    }
  
    50%{
  
      opacity: 1;
  
    }
  
    60%{
  
      opacity: 0;
  
    }
  
  }
  
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  a{
    color: gold;
    text-decoration: line-through;
    font-style: italic;
    font-weight: bold;
  }
  a:hover {
    text-decoration: none;
  }